*{
    box-sizing: border-box;
}

body{
  padding: 10px;
}

button{
  cursor: pointer;
  color: white;
  background-color: blue;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s linear;
  transition: box-shadow 0.5s;
  transition: padding 0.5s;
}

button:hover{
  background-color: orange;
  box-shadow: 0 0 10px orange;
  padding: 1.5em 2.5em;
  transform: scale(1.1);
}