*{
    box-sizing: border-box;
}

:root{
  font-size: 20px;
}

body{
  padding: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

article{
  position: relative;
  overflow: hidden;
  min-width: 250px;
  max-width: 350px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  color: aliceblue;
  background-image: linear-gradient(to left, #ff6699 0%, #ffcc99 100%);
}

.first-line{
  display: flex;
  justify-content: space-between;
}

.price{
  font-weight: bold;
  font-size: 2rem;
  margin: 15px 0 30px;
}
/* .circle{
  position: absolute;
  right: -30px;
  bottom: -75px;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
} */

/* .circle2{
  position: absolute;
  top: -10px;
  right: -75px;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
} */

article::before,
article::after{
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

article::before{
  right: -30px;
  bottom: -75px;
}

article::after{
  top: -10px;
  right: -75px;
}