body{
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1;
}
header{
    text-align: center;

}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
}

.sub-main-title{
    font-size: 15px;
    text-align: center;
}

.black-sub-title{
    color: #f1f1f1;
    background-color: black;
}
